body {
    background-color: rgb(220, 193, 158);
    font-size: 20px;
    font-family: Trebuchet MS;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(193, 75, 20)
}
#layout {
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
    background-color: black;
}

#index-title {
    display:flex;
    font-size: 50px;
    justify-content: center;
    /* background-color: black; */
    /* color:brown */
}

#map-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#show-image {
    padding: 10px;
}

#out {
    color: blue;
}

#item {
    margin: 20px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#images {
    height: 500px;
    width:  500px;
}

button {
    width: 100px;
}

#edit-image {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* #index-image {
    border: 5px;
    border-color: black;
} */
